#north {
    height: 80px;
    color: #ffffff;
    padding: 10px;
    background: url('../images/header_bg.gif');
    background-repeat: no-repeat;
    background-position: right;
    line-height: 60px;
    overflow: hidden;
}

.page-logo {
    padding: 15px 0;
    width: 400px;
    text-align: center;
    color: #003366;
}

.page-logo h2 {
    font: 28px '新宋体';
    height: 30px;
}

.page-logo p {
    font: 20px 'monospace';
    height: 20px;
}

.index_user {
    position: absolute;
    right: 5px;
    top: 10px;
    color: white;
}

.index_control {
    position: absolute;
    right: 5px;
    bottom: -10px;
}

.index_control a {
    color: #ffffff;
}

#nav-menu {
    width: 180px;
}

#footer {
    height: 50px;
    padding: 10px;
    width: 100%;
    background: url('../images/header_bg.png') no-repeat right;
    background-color: #f9fbfc
}

#information {
    color: #999;
    font-size: 9pt;
    width: 100%;
    text-align: center;
}

#col {
    width: 120px;
    float: left;
    text-align: center;
}
